* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainBg {
    max-width: 1440px;
    max-height: 100vh;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;

    figure {
        background-image: url(../assets/home/background-home-desktop.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        padding: 4em 0 4em 4em;

        .navContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgContainer {
                position: relative;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .marginalLine {
                width: 500px;
                height: 1.5px;
                background-color: rgba(255, 255, 255, 0.43);
                border-radius: 5px;
                border: none;
                margin: 0 5em 0 ;
            }
            #singleInfoContainer {
                position: relative;
                border-radius: 5px;
                padding: 2px 15px;
                background: none;
            }
            #singleInfoContainer:hover {
                background: rgba(255, 255, 255, 0.172);
                transition: background 1500ms ease 0s, right 1500ms ease 0s;
            }
            #singleInfoContainer::after {
                content: "";
                width: 0;
                height: 3px;
                background-color: white;
                bottom: -1.5em;
                position: absolute;
                transition: width 500ms ease 0s, right 500ms ease 0s;
                right: 50%;
                border-radius: 5px;
            }
            #singleInfoContainer:hover::after {
                width: 100%;
                right: 0;

            }
            .infoContent {
                display: flex;
                list-style: none;
                background: linear-gradient(to right, rgb(54, 51, 51), rgb(157, 157, 184), rgba(6, 78, 248, 0.034));
                background: opacity(.5);
                justify-content: space-evenly;
                width: 60%;
                padding: 1.5em 10em;
                color: white;
                font-family: "Dosis", sans-serif;
                font-size: 12px;

                #singleInfoContainer {
                    display: flex;
                    align-items: center;
                    gap: .8em;

                    #singleInfo {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.886);
                        font-family: "Dosis", sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        position: relative;
                    }
                }
            }
            
        }
        #navContainer02 {
            display: none;
        }
        .moreDetails {
            margin: 14em 8em;
            display: flex;
            justify-content: space-between;

            .moreDetails01 {
                width: 35%;
                display: flex;
                flex-direction: column;
                gap: 2em;
                color: white;

                #question {
                    font-family: "Dosis", sans-serif;
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                #space {
                    font-size: 8em;
                    text-transform: uppercase;
                    font-weight: 100;
                }
                #spaceText {
                    font-family: "Dosis", sans-serif;
                    line-height: 25px;
                    letter-spacing: 2px;
                }
            }
            .moreDetails02 {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: end;

                #explore {
                    background: white;
                    height: 280px;
                    width: 280px;
                    border-radius: 50%;
                    padding: 1.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    font-size: 3em;
                    font-family: "Dosis", sans-serif;
                    font-weight: 500;
                    color: rgb(115, 112, 112);
                }
                #explore:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
@media(max-width: 1100px) {
    .mainBg{
        figure {
            .navContainer {

                .imgContainer {
                    width: 10%;
                    .marginalLine {
                        display: none;
                    }
                }
                .infoContent {
                    width: 80%;
                }
            }
            .moreDetails {
                margin: 15em 4em 0;

                .moreDetails01 {
                    width: 50%;
                    #space {
                        font-size: 6em;
                    }
                }
                .moreDetails02 {
                    #explore {
                        height: 200px;
                        width: 200px;
                        font-size: 2em;
                    }
                }
            }
            #navContainer02 {
                display: none;
            }
        }
    }
}
@media(max-width:770px) {
   .mainBg {
        max-height: 100%;

        figure {
            background: url(../assets/home/background-home-tablet.jpg);
            background-repeat: no-repeat;
            object-fit: contain;
            width: 100%;
            padding: 0;
            overflow: auto;

            .navContainer {
                padding: 4em 0 4em 4em;
                .imgContainer {
                    width: 5%;
                }
                .infoContent {
                    width: 85%;
                    padding: 1.5em .5em;
                    justify-content: center;
                    gap: .7em;
                }
            }
            .moreDetails {
                margin: 5em 8em 0;
                flex-direction: column;
                align-items: center;
                gap: 8em;

                .moreDetails01 {
                    width: 100%;
                    align-items: center;

                    #spaceText {
                        text-align: center;
                    }

                }
                .moreDetails02 {
                    width: 100%;
                    justify-content: center;
                }
            }
            #navContainer02 {
                display: none;
            }
        }
   }
}
@media (max-width: 635px) {
    .mainBg {
        overflow: auto;
        figure {
            .navContainer {
                display: none;
            }
            #navContainer02 {
                display: flex;
                width: 80%;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                padding: 3em 0;
                position: fixed;
            }
            .moreDetails {
                margin: 10em 3em;
            }
        }
    }
}