* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainBgTech {
  max-width: 1440px;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.mainBgTech .figTech {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 4em 0 4em 4em;
}
.mainBgTech .figTech .navContainerTech {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBgTech .figTech .navContainerTech .imgContainer {
  width: 50%;
}
.mainBgTech .figTech .navContainerTech .imgContainerTech {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainBgTech .figTech .navContainerTech #marginalLineTech {
  width: 500px;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 5px;
  border: none;
  margin: 0 5em 0;
}
.mainBgTech .figTech .navContainerTech .singleInfoContainerTech {
  position: relative;
  border-radius: 5px;
  padding: 2px 15px;
  background: none;
}
.mainBgTech .figTech .navContainerTech .singleInfoContainerTech:hover {
  background: rgba(255, 255, 255, 0.172);
  transition: background 1500ms ease 0s, right 1500ms ease 0s;
}
.mainBgTech .figTech .navContainerTech .singleInfoContainerTech::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  bottom: -1.5em;
  position: absolute;
  transition: width 500ms ease 0s, right 500ms ease 0s;
  right: 50%;
  border-radius: 5px;
}
.mainBgTech .figTech .navContainerTech .singleInfoContainerTech:hover::after {
  width: 100%;
  right: 0;
}
.mainBgTech .figTech .navContainerTech .infoContentTech {
  display: flex;
  list-style: none;
  background: linear-gradient(to right, rgba(126, 65, 248, 0.171), rgba(14, 7, 124, 0.242), rgba(6, 6, 6, 0.47));
  background: opacity(0.5);
  justify-content: space-evenly;
  width: 60%;
  padding: 1.5em 10em;
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 12px;
}
.mainBgTech .figTech .navContainerTech .infoContentTech .singleInfoContainerTech {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.mainBgTech .figTech .navContainerTech .infoContentTech .singleInfoContainerTech .singleInfoTech {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(220, 201, 201);
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.mainBgTech .figTech .techDetails {
  padding: 7em 0 0 8em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mainBgTech .figTech .techDetails #theSpaceLaunch #spaceLaunch {
  display: flex;
  gap: 0.5em;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
}
.mainBgTech .figTech .techDetails #theSpaceLaunch #spaceLaunch #noThree {
  color: rgb(90, 87, 87);
}
.mainBgTech .figTech .techDetails #techInfoandImg {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 4em;
  gap: 5em;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #bulletPoint {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #bulletPoint .numOrder {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #bulletPoint :nth-child(1) {
  background-color: white;
  color: black;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #bulletPoint :hover {
  cursor: pointer;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  width: 80%;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #terminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #capsuleTerminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #spacePostTerminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #terminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #capsuleTerminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #spacePostTerminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #terminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #capsuleTerminology, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #spacePostTerminology {
  letter-spacing: 2.5px;
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.43);
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #launchVehicle, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #spacePort, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #capsule, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #launchVehicle, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #spacePort, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #capsule, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #launchVehicle, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #spacePort, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #capsule {
  font-family: none;
  font-size: 60px;
  font-weight: 300;
  padding: 15px 0 30px;
}
.mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #launchVehicleInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #spacePortInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo #capsuleInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #launchVehicleInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #spacePortInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_spacePort #capsuleInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #launchVehicleInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #spacePortInfo, .mainBgTech .figTech .techDetails #techInfoandImg #techCart #techInfo_Capsule #capsuleInfo {
  text-transform: capitalize;
  line-height: 30px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.43);
}/*# sourceMappingURL=technology-vehicle.css.map */