* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainBg01 {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    .fig {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
        height: 100vh;
        width: 100%;
        padding: 4em 0 4em 4em;

        .navContainer01 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgContainer {
                width: 50%;
            }
            .imgContainer01 {
                position: relative;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .marginalLine01 {
                width: 500px;
                height: 1.5px;
                background-color: rgba(255, 255, 255, 0.43);
                border-radius: 5px;
                border: none;
                margin: 0 5em 0 ;
            }
            #singleInfoContainer01 {
                position: relative;
                border-radius: 5px;
                padding: 2px 15px;
                background: none;
            }
            #singleInfoContainer01:hover {
                background: rgba(255, 255, 255, 0.172);
                transition: background 1500ms ease 0s, right 1500ms ease 0s;
            }
            #singleInfoContainer01::after {
                content: "";
                width: 0;
                height: 3px;
                background-color: white;
                bottom: -1.5em;
                position: absolute;
                transition: width 500ms ease 0s, right 500ms ease 0s;
                right: 50%;
                border-radius: 5px;
            }
            #singleInfoContainer01:hover::after {
                width: 100%;
                right: 0;

            }
            .infoContent01 {
                display: flex;
                list-style: none;
                background: linear-gradient(to right, rgb(54, 51, 51), rgb(157, 157, 184), rgba(6, 78, 248, 0.034));
                background: opacity(.5);
                justify-content: space-evenly;
                width: 50%;
                padding: 1.5em;
                color: white;
                font-family: "Dosis", sans-serif;
                font-size: 12px;

                #singleInfoContainer01 {
                    display: flex;
                    align-items: center;
                    gap: .8em;

                    #singleInfo01 {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.886);
                        font-family: "Dosis", sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        position: relative;
                    }
                }
            }
        }


        // MAIN CONTAINER
        .marsDetails {
            padding: 7em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .destinationAndimage {
                .destination {
                    text-transform: uppercase;
                    font-family: "Dosis", sans-serif;
                    color: white;

                    >span {
                        color: white;
                    }
                }
            }
            .marsInfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                padding-top: 3em;

                .planet {
                    font-family: "Dosis", sans-serif;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    gap: 3em;
                    align-items: start;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 100;

                    .theplanet {
                        list-style: none;
                        display: flex;
                        gap: 1.5em;

                        >li {
                        }
                        >li > a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                    .mars {
                        font-size: 5em;
                        font-family: none;
                        font-weight: 100;
                        letter-spacing: -5px;
                    }
                    .information {
                        display: block;
                        line-height: 25px;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                        font-size: 13px;
                        width: 80%;
                    }
                    .timeAndDistance {
                        display: flex;
                        gap: 4em;
                        width: 100%;

                        .distanceDetails, .timeDetails {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            #kilometer, #month {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}