* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainBg01 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.mainBg01 .fig {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  height: 100vh;
  width: 100%;
  padding: 4em 0 4em 4em;
}
.mainBg01 .fig .navContainer01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBg01 .fig .navContainer01 .imgContainer {
  width: 50%;
}
.mainBg01 .fig .navContainer01 .imgContainer01 {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainBg01 .fig .navContainer01 .marginalLine01 {
  width: 500px;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 5px;
  border: none;
  margin: 0 5em 0;
}
.mainBg01 .fig .navContainer01 #singleInfoContainer01 {
  position: relative;
  border-radius: 5px;
  padding: 2px 15px;
  background: none;
}
.mainBg01 .fig .navContainer01 #singleInfoContainer01:hover {
  background: rgba(255, 255, 255, 0.172);
  transition: background 1500ms ease 0s, right 1500ms ease 0s;
}
.mainBg01 .fig .navContainer01 #singleInfoContainer01::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: white;
  bottom: -1.5em;
  position: absolute;
  transition: width 500ms ease 0s, right 500ms ease 0s;
  right: 50%;
  border-radius: 5px;
}
.mainBg01 .fig .navContainer01 #singleInfoContainer01:hover::after {
  width: 100%;
  right: 0;
}
.mainBg01 .fig .navContainer01 .infoContent01 {
  display: flex;
  list-style: none;
  background: linear-gradient(to right, rgb(54, 51, 51), rgb(157, 157, 184), rgba(6, 78, 248, 0.034));
  background: opacity(0.5);
  justify-content: space-evenly;
  width: 50%;
  padding: 1.5em;
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 12px;
}
.mainBg01 .fig .navContainer01 .infoContent01 #singleInfoContainer01 {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.mainBg01 .fig .navContainer01 .infoContent01 #singleInfoContainer01 #singleInfo01 {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.886);
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.mainBg01 .fig .marsDetails {
  padding: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.mainBg01 .fig .marsDetails .destinationAndimage .destination {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  color: white;
}
.mainBg01 .fig .marsDetails .destinationAndimage .destination > span {
  color: white;
}
.mainBg01 .fig .marsDetails .marsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 3em;
}
.mainBg01 .fig .marsDetails .marsInfo .planet {
  font-family: "Dosis", sans-serif;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: start;
  color: white;
  text-transform: uppercase;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .theplanet {
  list-style: none;
  display: flex;
  gap: 1.5em;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .theplanet > li > a {
  text-decoration: none;
  color: white;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .mars {
  font-size: 5em;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .information {
  display: block;
  line-height: 25px;
  letter-spacing: 2px;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance {
  display: flex;
  gap: 4em;
  width: 100%;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance .distanceDetails, .mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance .timeDetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance .distanceDetails #kilometer, .mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance .distanceDetails #month, .mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance .timeDetails #kilometer, .mainBg01 .fig .marsDetails .marsInfo .planet .timeAndDistance .timeDetails #month {
  display: none;
}/*# sourceMappingURL=destination-mars.css.map */