* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainBg {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    figure {
        background-image: url(./assets/home/background-home-desktop.jpg);
        height: 100vh;
        width: 100%;
        padding: 4em;

        .navContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .infoContent {
                display: flex;
                list-style: none;
                background-color: red;
                justify-content: space-evenly;
                width: 50%;
                padding: 1.5em;
                color: white;
                font-family: "Dosis", sans-serif;
                font-size: 12px;

                #singleInfo {
                    display: flex;
                    align-items: center;
                    gap: .8em;

                    // #num {
                    //     font-size: 12px;
                    // }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.886);
                        font-family: "Dosis", sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
        }

        .logo::after {
            content: " ";
            width: 105px;
            height: 3px;
            background-color: red;
        }
    }
}