* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainBgTech {
    max-width: 1440px;
    max-height: 100vh;
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    .figTech {
        background-image: url(./assets/technology/background-technology-desktop.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        padding: 4em 0 4em 4em;

        .navContainerTech {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgContainer {
                width: 50%;
            }
            .imgContainerTech {
                position: relative;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            #marginalLineTech {
                width: 500px;
                height: 1.5px;
                background-color: rgba(255, 255, 255, 0.43);
                border-radius: 5px;
                border: none;
                margin: 0 5em 0 ;
            }
            .singleInfoContainerTech {
                position: relative;
                border-radius: 5px;
                padding: 2px 15px;
                background: none;
            }
            .singleInfoContainerTech:hover {
                background: rgba(255, 255, 255, 0.172);
                transition: background 1500ms ease 0s, right 1500ms ease 0s;
            }
            .singleInfoContainerTech::after {
                content: "";
                width: 0;
                height: 3px;
                background-color: white;
                bottom: -1.5em;
                position: absolute;
                transition: width 500ms ease 0s, right 500ms ease 0s;
                right: 50%;
                border-radius: 5px;
            }
            .singleInfoContainerTech:hover::after {
                width: 100%;
                right: 0;

            }
            .infoContentTech {
                display: flex;
                list-style: none;
                background: linear-gradient(to right, rgba(126, 65, 248, 0.171), rgba(14, 7, 124, 0.242), rgba(6, 6, 6, 0.47));
                background: opacity(.5);
                justify-content: space-evenly;
                width: 60%;
                padding: 1.5em 10em;
                color: white;
                font-family: "Dosis", sans-serif;
                font-size: 12px;

                .singleInfoContainerTech {
                    display: flex;
                    align-items: center;
                    gap: .8em;

                    .singleInfoTech {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: rgb(220, 201, 201);
                        font-family: "Dosis", sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        position: relative;
                    }
                }
            }
        }


        // MAIN CONTAINER
        .techDetails {
            padding: 7em 0 0 8em;
            display: flex;
            flex-direction: column;
            width: 100%;

            #theSpaceLaunch {
                #spaceLaunch {
                    display: flex;
                    gap: .5em;
                    text-transform: uppercase;
                    font-family: "Dosis", sans-serif;
                    color: white;
                    font-weight: 400;
                    letter-spacing: 3px;

                    #noThree {
                        color: rgb(90, 87, 87);
                    }
                }
            }
            #techInfoandImg {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                padding-top: 4em;
                gap: 5em;

                #techCart {
                    display: flex;
                    width: 60%;
                    justify-content: space-between;

                    #bulletPoint {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        justify-content: center;

                        .numOrder {
                            background-color: transparent;
                            border-radius: 50%;
                            border: 2px solid white;
                            height: 80px;
                            width: 80px;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            color: white;
                        }
                        :nth-child(1) {
                            background-color: white;
                            color: black;
                        }
                    }
                    #techInfo {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        color: white;
                        font-family: "Dosis", sans-serif; 
                        text-transform: uppercase;
                        width: 80%;

                        #terminology {
                            letter-spacing: 2.5px;
                            font-weight: 500;
                            font-size: 15px;
                            color: rgba(255, 255, 255, 0.43);

                        }
                        #launchVehicle, #spacePort, #capsule {
                            font-family: none;
                            font-size: 60px;
                            font-weight: 300;
                        }
                        #launchVehicleInfo, #spacePortInfo, #capsuleInfo{
                            text-transform: capitalize;
                            line-height: 30px;
                            letter-spacing: 2px;
                            color: rgba(255, 255, 255, 0.43);
                        }
                    }
                }
            }
        }
    }
}