* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainBgEng {
    max-width: 1440px;
    max-height: 100%;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;

    .figEng {
        background-image: url(./assets/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        padding: 4em 0 4em 4em;
        overflow: hidden;

        

        .navContainerEng {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .imgContainer {
                width: 50%;
            }
            .imgContainerEng {
                position: relative;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            #marginalLineEng {
                width: 500px;
                height: 1.5px;
                background-color: rgba(255, 255, 255, 0.43);
                border-radius: 5px;
                border: none;
                margin: 0 5em 0 ;
            }
            .singleInfoContainerEng {
                position: relative;
                border-radius: 5px;
                padding: 2px 15px;
                background: none;
            }
            .singleInfoContainerEng:hover {
                background: rgba(255, 255, 255, 0.172);
                transition: background 1500ms ease 0s, right 1500ms ease 0s;
            }
            .singleInfoContainerEng::after {
                content: "";
                width: 0;
                height: 3px;
                background-color: white;
                bottom: -1.5em;
                position: absolute;
                transition: width 500ms ease 0s, right 500ms ease 0s;
                right: 50%;
                border-radius: 5px;
            }
            .singleInfoContainerEng:hover::after {
                width: 100%;
                right: 0;

            }
            .infoContentEng {
                display: flex;
                list-style: none;
                background: linear-gradient(to right, rgba(19, 9, 39, 0.253), rgba(0, 0, 0, 0.482), rgba(6, 6, 6, 0.818));
                background: opacity(.5);
                justify-content: space-evenly;
                width: 60%;
                padding: 1.5em 10em;
                color: white;
                font-family: "Dosis", sans-serif;
                font-size: 12px;

                .singleInfoContainerEng {
                    display: flex;
                    align-items: center;
                    gap: .8em;

                    .singleInfoEng {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: rgb(220, 201, 201);
                        font-family: "Dosis", sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        position: relative;
                    }
                }
            }
        }


        // MAIN CONTAINER
        .crewDetails {
            padding: 7em 8em 0 8em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            #yourCrew {
                #meetCrew {
                    display: flex;
                    gap: .5em;
                    text-transform: uppercase;
                    font-family: "Dosis", sans-serif;
                    color: white;
                    font-weight: 400;
                    letter-spacing: 3px;

                    #noTwo {
                        color: rgb(90, 87, 87);
                    }
                }
            }
            .ansari_Img_Info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 1.6em 0em 0;
                position: relative;
                overflow: hidden;
                height: 100%;

                .ansariImgInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: .5em;
                    width: 45%;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 100;

                    #occupation, #hurleyOccupation, #shuttleworthOccupation, #gloverOccupation {
                        font-size: 30px;
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.43);
                    }
                    #name, #hurleyName, #shuttleworthName, #gloverName {
                        font-size: 50px;
                        font-weight: 300;
                        width: 100%;
                    }
                    #bio_info, #hurleyBioInfo, #shuttleworthBioInfo, #gloverBioInfo {
                        font-family: "Dosis", sans-serif;
                        text-transform: capitalize;
                        width: 85%;
                        letter-spacing: 1px;
                        color: rgba(255, 255, 255, 0.43);
                        padding-top: 2em;
                        padding-bottom: 4.5em;
                        line-height: 30px;
                    }
                    .crewToggleContainer {
                        display: flex;
                        flex-direction: row;
                        gap: 1.5em;

                        .crewToggle {
                            width: 20px;
                            height: 20px;
                            background-color: rgba(255, 255, 255, 0.43);
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        .crewToggle:nth-child(1) {
                            background-color: white;
                        }
                    }
                }
                .ansariImgContainer {


                    #ansariImg {
                        width: 100%;
                    }
                }
            }
        }
    }
}